<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <a href="/about"><h3 class="section-title">About me</h3></a>
                    <p>Het leven in hashtags: #Man, #Vader, #Dotnet, #Mudrun, #38+, #Ibiza, #ZuidAfrika, #Bbq, 
                       #DigDeeper, #AllesMetEenKnipoog, #Michel, #Nederlands, #Kind, #AllRoundDev #Csharp, 
                       #Raver, #ObstacleRunning, #Future World Traveler, #Australië
                    </p>
                </div>

              
                <div class="col-md-4 col-md-offset-4 animate-box">
                    <h3 class="section-title">Contact</h3>
                        <form id="contact-form" class="contact-form" action="https://getsimpleform.com/messages?form_api_token=ebca84fa0ead3311e04e74df58a06b3e" method="POST">
                        <div class="form-group">
                            <label for="name" class="sr-only">Naam</label>
                            <input type="name" class="form-control" id="name" placeholder="Naam">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Bericht</label>
                            <textarea class="form-control" id="message" rows="7" placeholder="Je bericht"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Verstuur bericht">
                        </div>
                        <input type="hidden" name='redirect_to' value="{{site.applicationsettings.thankyouurl}}" />
                    </form>
                </div>
            </div>
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="http://twitter.com/micheltol">
                            <i class="icon-twitter2"></i>
                        </a>
                        <a href="https://www.facebook.com/mftol">
                            <i class="icon-facebook2"></i>
                        </a>
                        <a href="https://www.instagram.com/micheltol/">
                            <i class="icon-instagram"></i>
                        </a>
                    </p>
                    <p>Copyright {{ "now" | date: "%Y" }} <a href="http://www.micheltol.nl">MichelTol.nl</a>. Alle rechten voorbehouden.
                        <br>Orginal template Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank" rel="noopener">Freehtml5.co</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
